.SearchResultCard .card {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: 1px solid #BEBEBE;
}

.SearchResultCard .card-body#description {
  height: 165px;
  overflow: hidden
}

.SearchResultCard .card-body#actions {
  border-top: 1px solid #BEBEBE
}

.SearchResultCard .card-body#actions .card-text,
.SearchResultCard .card-body#actions .card-link {
  display:block;
  text-align: center;
}