.CollectionItem .nav .nav-link {
  background-color: #e8e8e8;
}

.CollectionItem .Drink .drink-cell {
  border: none;
}

.CollectionItem .tab-content-cont__rating {
  margin: 2rem 1.5rem;
}

.CollectionItem .DrinkNotes {
  margin: 2rem 0;
}

.CollectionItem .DeleteCollectionItemButton {
  margin: 2rem 0;
}
