.Collection {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Collection > .container {
  position: relative;
  display: grid;
  min-height: 30rem;
  grid-template-columns: 1fr 3fr;
  column-gap: 18px;
  overflow-x: hidden;
}

.Collection .collection-cell {
  padding: 1rem;
  background-color: #fff;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}
