.CollectionItem .nav .nav-link {
  background-color: #e8e8e8;
}

.CollectionItem .Drink .drink-cell {
  border: none;
}

.CollectionItem .tab-content-cont__info {
  padding: 1rem;
  border-left: 1px solid #dadce0;
  border-right: 1px solid #dadce0;
}

.CollectionItem .tab-content-cont__info img {
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.CollectionItem .DrinkNotes {
  margin: 2rem 0;
}

.CollectionItem .DeleteCollectionItemButton {
  margin: 2rem 0;
}

.CollectionItem .dv-star-rating {
  margin-top: 1rem;
}
