.Collection {
  padding: 2.5rem;
}

.Collection strong {
  display: block;
  margin-bottom: 0.7rem;
}
/* .Collection .nav {
  margin: 0 auto;
  max-width: 1080px;
}

.Collection .nav .nav-link {
  background-color: #E8E8E8;
}

.Collection .tab-content {
  margin: 0 auto;
  max-width: 1080px;
  background-color: #fff;
}

.Collection div[id$="-recipe"] h6 {
  margin-bottom: 1rem;
} */
