.Drinks {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.drinks-wrapper {
  padding: 2rem 3rem;
  background-color: #fff;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  overflow-x: hidden;
}

.pagination-content {
  height: 800px;
}

.pagination-ui {
  padding: 1rem;
}

.pagination {
  justify-content: center;
}

.pagination > .active > a {
  background-color: #9cc3c9;
  border-color: #9cc3c9;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #9cc3c9;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #9cc3c9;
  border-color: #9cc3c9;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #9cc3c9;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
