.Drinks {
  border-top: 1px solid #dadce0;
  overflow-x: hidden;
}

.Drinks label {
  font-weight: bold;
}

.Drinks a {
  display: inline-block;
}

.Drinks .container {
  position: relative;
  display: grid;
}

.Drinks .drinks-cell {
  padding: 1rem;
  background-color: #fff;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.Drinks .drinks-cell--1 {
  border-bottom: none;
}

.Drinks .drinks-item {
  display: flex;
  height: 100%;
}
