.DrinksItem {
  display: grid;
  height: 120px;
  margin-bottom: 10px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.DrinksItem img {
  width: 96px;
  height: 96px;
  border: 1px solid #505050;
}

.drinksItem-cell {
  display: flex;
  padding: 1rem;
  align-items: center;
}
