body, html {
  height: 100%;
  margin: 0;
}

.App::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: rgb(112, 128, 144);
  z-index: 0;
}