body,
html {
  height: 100%;
  margin: 0;
}

.App::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: #95a0aa;
  z-index: 0;
}

h4,
h5,
h6 {
  font-family: 'Bebas Neue';
}
