.bottleCard {
  min-width: 175px;
  position: relative;
  margin: 0 auto;
}

.bottleCard .ant-card-cover {
  padding: 30px 20px;
}
.bottleCard .ant-card-cover img {
  width: 150px;
  margin: 0 auto;
}
.bottleCard .ant-card-body {
  height: 250px;
  overflow: hidden;
}