.DrinkInfo > .container {
  display: grid;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  border-left: 1px solid #dadce0;
  border-top: 1px solid #dadce0;
}

.drink-info-cell {
  padding: 18px;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.drink-info-cell .badge {
  font-size: 0.8rem;
}

.drink-info-cell--5 {
  grid-row: 3;
  grid-column: span 2;
}
.drink-info-cell--6 {
  grid-row: 4;
  grid-column: span 2;
}
