.RandomDrink img {
  max-width: 250px;
  margin-bottom: 1rem;
}

.RandomDrink > .row {
  margin-bottom: 1rem;
}

.RandomDrink > .row .flex-container {
  display: flex;
  min-height: 36px;
}

.RandomDrink > .row .flex-container h6 {
  margin-bottom: 0;
}

.RandomDrink > .row .flex-container .flex-container-btn {
  font-size: 0.8rem;
  float: right;
}
