.RandomDrink img {
  max-width: 225px;
  margin-bottom: 2rem;
}

.RandomDrink .flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.RandomDrink .flex-container.content-heading h4 {
  margin-bottom: 0.5rem;
}

.RandomDrink .flex-container.content-heading a {
  text-decoration: none;
}

.RandomDrink .flex-container h4,
.RandomDrink .flex-container h5 {
  margin-bottom: 0;
}

.RandomDrink .heading-container .btn {
  font-size: 0.9rem;
  float: right;
}

.RandomDrink .cont-container h4,
.RandomDrink .cont-container h5 {
  font-family: 'Gill Sans', sans-serif;
}
