.Home {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Home .container {
  position: relative;
  display: grid;
  grid-template-rows: 250px 150px 1fr;
  grid-template-columns: 2fr 3fr 2fr;
  overflow-x: hidden;
}

.Home .home-cell {
  padding: 1.5rem;
  background-color: #fff;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.Home .home-cell--1 {
  grid-row: span 3;
}

.Home .home-cell--2 {
  grid-row: span 3;
  grid-column: 2;
}

.Home .home-cell--3 {
  grid-column: 3;
}

.Home .home-cell--4 {
  grid-column: 3;
}

.Home .home-cell--5 {
  grid-column: 3;
}
