.Home {
  border-top: 1px solid #dadce0;
  overflow-x: hidden;
}

.Home .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Home .home-cell {
  padding: 1rem;
  background-color: #fff;
  border-right: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.Home .home-cell--1 {
  grid-row: span 4;
}

.Home .home-cell--2 {
  grid-row: span 4;
  grid-column: 2;
}

.Home .home-cell--3 {
  grid-column: 3;
}

.Home .home-cell--4 {
  grid-column: 3;
}

.Home .home-cell--5 {
  grid-column: 3;
}

.Home .home-item {
  display: flex;
  height: 100%;
}
