.SearchResults .ant-card {
  margin: 30px 18px;
}

.SearchResults .ant-card-body {
  height: 200px;
  overflow: hidden
}

.SearchResults .ant-card-bordered {
  border: 1px solid #B8B8B8;
}

.SearchResults .ant-card-cover {
  margin: 0 !important;
}