.Drink {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Drink > .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow-x: hidden;
}

.Drink .drink-cell {
  background-color: #fff;
}

.Drink .drink-cell .drink-item {
  padding: 2.5rem;
}

.Drink .drink-cell--1 img {
  margin: 1.5rem 0;
}
.Drink .drink-cell button {
  margin: 1rem 0;
}
